<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Movies</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body style="margin-top: 50px;">

<div class="container">
<a href="/movies">Return to full list of movies</a>
<br>
<br>

{{#each movie}}
<h2> {{this.title}} </h2>
<h4> Director: {{this.director}} </h4>
<h4> Year: {{this.year}} </h4>
<h4> Rating: {{this.rate}} </h4>
<h4> Duration: {{this.duration}}</h4>
<h4> Genre(s):</h4>
{{#each this.genre}}
<ul>
  <li>{{this}}</li>
</ul>
{{/each}}
<br>
{{/each}}
</div>


</body>
</html>