<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Movies</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body style="margin-top: 50px;">

<div class="container">
<a href="/movies">Return to full list of movies</a>
<br>
<br>

<h1>Edit Movie</h1>

<form action="/movies/update/{{movie._id}}" method="post">
  <input type="text" name="title" value="{{movie.title}}">
  <input type="text" name="director" value="{{movie.director}}">
  <input type="text" name="year" value="{{movie.year}}">
  <input type="text" name="rating" value="{{movie.rate}}">
  <input type="text" name="duration" value="{{movie.duration}}">
  <input type="text" name="genre" value="{{movie.genre}}">
  <input type="submit" value="Submit Changes">
</form>
</div>


</body>
</html>
