<div class= "the movie">

  <ul class= 'movie-title'>
    {{#each theList}}
      <a href="/movies/{{this._id}}"><h2><li><b>Title: {{title}}</b><br></h2></a>
      <i>Director: {{director}}</i><br> 
      Year: {{year}} <br> 
      Rate: {{rate}}</li>
    {{/each}}
  </ul>
    
</div>

