<nav>
  <a href="/movies/new">Create new movie</a>
</nav>

<ul>

{{#each theList}}
<li>


<h3><a href="/movies/{{this._id}}">    {{this.title}}    </a></h3>
{{!-- <p>{{this.director}}</p>
<h6>{{this.year}}</h6>
<p>{{this.rate}}</p> --}}

<a href="/movies/edit/{{this._id}}">  Edit   </a>
<form  action="/movies/delete/{{this._id}}" method="post">
  <button type="submit"> Delete </button>
</form>
</li>
{{/each}}
</ul>
