<a href="/create">Create a movie</a>
<br><br><br>

{{#each theList}}
	<li>
		<a href="movies/{{this._id}}">{{this.title}}</a>
		Director: {{this.director}} 
		Year: {{this.year}}
		Rating: {{this.rate}}
	</li>
{{/each}}
