<h1>Title: {{movie.title}}</h1>
<h2>Direction: {{movie.director}}</h2>
<h3>Year: {{movie.year}}</h3>
<h3>Duration: {{movie.duration}}</h3>
<h4>Rating: {{movie.rate}}</h4>

<h6>Genres:</h6>
{{#each movie.genre}}

	<p>{{genre}}</p>

{{/each}}